h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Área y volumen', 'main.html#page/area/')
                    +navTemaItem('2', 'Trigonometría', 'main.html#page/trigonometria/')
                    +navTemaItem('3', 'Ecuaciones', 'main.html#page/ecuaciones/')
                    +navTemaItem('4', 'Funciones', 'main.html#page/funciones/')
                    +navTemaItem('5', 'Función lineal', 'main.html#page/funcion/')