.container#area

    .header-ecored
        h1 1. Área y volumen
    
    br#area1
    
    .header-ecored
        h2 1.1 Área de figuras planas
    
    .jumbotron.bg-white.shadow
        p Para este tema vamos a preguntarnos #[b ¿Qué es el área de una figura?] Para responder a esta pregunta tenemos que empezar por definir el término figura plana.
        img(src="assets/images/pages/img1.png", style="max-width: 80%").img-fluid.img-a1
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.mb-0 Es cualquier línea poligonal, curva o mixta cerrada y su interior se considera una figura plana.
        p Existen las figuras que son #[b polígonos], son aquellas con ángulos bien definidos, por otro lado, también tenemos las figuras planas que son las curvas, estas son aquellas que tienen una línea curva en su contorno. Por lo tanto, ya podemos dar una definición de #[b área].
        .row.justify-content-around.mb-3
            .col-8
                .card-media(style="background: #EAEAEA;")
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/img2.png").img-fluid
                        p.card__copy 
                            span El área es el espacio que queda encerrado entre los límites de una figura.
        p Ahora bien, aquí podemos definir otro término que es el #[b perímetro], como la suma de todas las longitudes del contorno de una figura.
        p Hay que resaltar las unidades de medidas del área y del perímetro.
        .row.justify-content-center.mt-4
            .col-10
                table.table.table-striped.m-0
                    thead.thead-dark
                        tr
                            th.table1
                                i #[b Figura geométrica]
                            th.table1
                                i #[b Perímetro]
                            th.table1
                                i #[b Área]
                    tbody
                        tr
                            td.table2.text-center
                                img(src="assets/images/pages/img3.png").img-fluid
                            td.table2 a + a + a + a = 4a
                            td.table2 a * a = a
                                sup 2
                        tr
                            td.table3.text-center
                                img(src="assets/images/pages/img4.png").img-fluid
                            td.table3 a + a + b + b = 2a + 2b
                            td.table3 a * b = ab
                        tr
                            td.table2.text-center
                                img(src="assets/images/pages/img5.png").img-fluid
                            td.table2 a + b + c
                            td.table2 ( a * h ) / 2
                        tr
                            td.table3.text-center
                                img(src="assets/images/pages/img6.png").img-fluid
                            td.table3 a + a + a + a = 4a
                            td.table3 ( d * c ) / 2
                        tr
                            td.table2.text-center
                                img(src="assets/images/pages/img7.png").img-fluid
                            td.table2 a + a + b + b = 2a + 2b
                            td.table2 a * h
                        tr
                            td.table3.text-center
                                img(src="assets/images/pages/img8.png").img-fluid
                            td.table3 a + b + c + d
                            td.table3 ( ( a + b ) / 2 ) * h
                        tr
                            td.table2.text-center
                                img(src="assets/images/pages/img9.png").img-fluid
                            td.table2
                                img(src="assets/images/pages/img11.png").img-fluid
                            td.table2
                                img(src="assets/images/pages/img12.png").img-fluid
                        tr
                            td.table3.text-center
                                img(src="assets/images/pages/img10.png").img-fluid
                            td.table3  π = 3,14
                                p 2 π r
                            td.table3 2 π r
                                sup 2
        p.mt-4 Las unidades de medida del área son #[b m2], #[b cm2], #[b mm2], el término cuadrático (2), se debe a que es una medida de superficie.
        p Para el perímetro las medidas son lineales puesto que es una medida de longitud #[b m], #[b cm], #[b mm].

    br#area2
    
    .header-ecored
        h2 1.2 Volumen de sólidos regulares
    
    .jumbotron.bg-white.shadow
        .row.justify-content-center
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3OHms-xi1WI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.align-items-center.my-4
            .col-12.col-md-6
                p El vocablo en latín volumen ha impulsado la aparición del concepto de volumen, una palabra que permite describir el grosor o tamaño que posee un determinado objeto. Asimismo, el término sirve para identificar la magnitud física que informa sobre la extensión de un cuerpo con relación a tres dimensiones (alto, largo y ancho). Dentro del Sistema Internacional, la unidad que le corresponde es el metro cúbico (m3).
                p Para poder comprender mucho más la relación entre las figuras planas y los volúmenes de sólidos lo invitamos a ver una videoclase con los ejemplos y razonamiento lógico matemático de las áreas y volumen.
            .col-12.col-md-6
                img(src="assets/images/pages/img13.png", style="max-width: 60%").img-fluid.img-a
        .row.justify-content-center
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DkF6yQUssZU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')