.container#trigonometria

    .header-ecored
        h1 2. Trigonometría
    
    br#plano
    
    .header-ecored
        h2 2.1 Plano cartesiano
    
    .jumbotron.bg-white.shadow
        p El plano cartesiano recibe su nombre por el filósofo y matemático #[b Rene Descartes], quien ideó un sistema de coordenadas compuesta por dos rectas perpendiculares, que se interceptan de forma perpendicular formando un ángulo de 90°; si lo descrito anteriormente no fue lo suficientemente claro, aquí un diagrama del plano cartesiano:
        img(src="assets/images/pages/img14.png", style="max-width: 80%").img-fluid.img-a
        p Una de las aplicaciones más conocidas del #[b plano cartesiano es la de localización geográfica], ahora vamos a hacer el siguiente ejercicio mental:
        img(src="assets/images/pages/img15.png", style="max-width: 80%").img-fluid.img-a
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.mb-0 Invente un sistema de coordenadas en el que pueda describir a una persona como llegar a su casa.
        h3.mt-5.txt-color1 Componentes del plano cartesiano
        .row.align-items-center
            .col-12.col-md-6
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Ejes]: el eje horizontal conocido como el eje 0x es conocido como el eje de las abscisas y el eje vertical conocido como el eje 0y es el eje de las ordenadas.
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Cuadrantes]: el plano cartesiano está compuesto por cuatro (4) cuadrantes cada uno conformado por un ángulo de 90°, cabe decir, que los cuadrantes en un plano cartesiano se leen en sentido antihorario (sentido contrario a las manecillas del reloj). 
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 #[b Ángulos]: al estar compuesto de cuatro cuadrantes, cada uno de 90°, podemos decir que al dar la vuelta completa tendremos una circunferencia 360°.
            .col-12.col-md-6
                img(src="assets/images/pages/img16.png", style="max-width: 80%").img-fluid.img-a
        h3.mt-5.txt-color1 Ubicación de puntos en el plano
        p Los puntos en el plano cartesiano están en el orden (#[b x, y]); por lo tanto, tener el punto (3,5) es tener 3 unidades en el eje x, y 5 unidades en el eje y.
        p Aquí vale la pena recordar la asignación de signos por cada cuadrante.
        img(src="assets/images/pages/img17.png", style="max-width: 100%").img-fluid.img-a
        p En ese orden de ideas si tengo las coordenadas (-4, 6) tendremos un punto que está ubicado 4 unidades en el eje negativo de la x y 6 unidades en el eje positivo de la y; así pues, estará ubicado en el II cuadrante.
    
    br#razones
    
    .header-ecored
        h2 2.2 Razones trigonométricas

    .jumbotron.bg-white.shadow
        p Las razones trigonométricas como su nombre lo indica, viene del estudio de la relación de los catetos de un triángulo con sus respectivos ángulos, pero específicamente del triángulo rectángulo.
        p Triángulo rectángulo es aquel que tiene un #[b ángulo recto] (90°).
        p Las razones trigonométricas son 6: #[b seno], #[b coseno], #[b tangente], #[b cotangente], #[b secante] y #[b cosecante], las más utilizadas son las primeras tres, puesto que las otras son la forma inversa de las primeras.
        img(src="assets/images/pages/img18.png", style="max-width: 100%").img-fluid.img-a
    
    br#teorema
    
    .header-ecored
        h2 2.3 Teorema de Pitágoras

    .jumbotron.bg-white.shadow
        p El teorema de Pitágoras relaciona los catetos de un triángulo rectángulo con su hipotenusa.
        p Pues bien, el teorema de Pitágoras dice que:
        img(src="assets/images/pages/img19.png", style="max-width: 80%").img-fluid.img-a
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p #[b En todo triángulo rectángulo, el cuadrado de la hipotenusa es igual a la suma de los cuadrados de los catetos].
                p.text-center c
                    sup 2 
                    | = a
                    sup 2 
                    | + b
                    sup 2
                p #[b c] = hipotenusa
                p #[b a] = cateto opuesto
                p.mb-0 #[b b] = cateto adyacente
        p Dado que la formula permite relacionar los catetos con la hipotenusa, puede despejarse de modo que me permita hallar uno de los catetos si tengo hipotenusa y el otro cateto.
        p Si despejamos la fórmula quedaría de la siguiente manera:
        p Para hallar el cateto opuesto:
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center.mb-0 a
                    sup 2 
                    | = c
                    sup 2 
                    | - b
                    sup 2
        p Para hallar el #[b cateto adyacente].
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center.mb-0 b
                    sup 2 
                    | = c
                    sup 2 
                    | - a
                    sup 2
        img(src="assets/images/pages/img20.png", style="max-width: 80%").img-fluid.img-a
        .row.justify-content-center
            .col-8
                h3.mt-5.txt-color2 Ejemplo
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center.mb-0 Se necesita saber la hipotenusa de un triángulo rectángulo cuyo cateto opuesto mide 7 unidades y su cateto adyacente mide 9 unidades.
                p Para esto debemos sacar los datos del problema:
                ul
                    li #[b a] = 7 u
                    li #[b b] = 9 u
                    li #[b c] = ?
                p Ahora reemplazamos los datos en el teorema y procedemos a despejar:
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center c
                            sup 2 
                            | = 7
                            sup 2 
                            | + 9
                            sup 2
                        p.text-center c
                            sup 2 
                            | = 49 + 81
                        p.text-center.mb-0 c
                            sup 2 
                            | = 130
                p Recordemos que siempre que se requiere despejar una variable elevada a una potencia, esta pasará a ser un radical, por lo tanto;
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center c = 
                            sup 2
                            | √ 130
                        p.text-center.mb-0 c = #[b 11.40]
                p La respuesta es que la hipotenusa mide #[b 11.40] unidades, se debe verificar que el valor de la hipotenusa debe ser mayor que el de cada uno de los catetos.
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center.mb-0 11.40 > 9 > 7
                .hr
                h3.mt-5.txt-color2 Ejemplo
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center Tenemos un triángulo con una hipotenusa de 12 unidades y un cateto opuesto de 6.5 unidades, 
                        p.text-center.mb-0 #[b ¿Cuál es el valor del cateto adyacente?]
                ul
                    li #[b c] = 7 u
                    li #[b a] = 9 u
                    li #[b b] = ?
                .row.justify-content-around.mb-3
                    .col-8.bg-color1.text-center
                        p.text-center b
                            sup 2 
                            | = c
                            sup 2 
                            | - a
                            sup 2
                        p.text-center b
                            sup 2 
                            | = 12
                            sup 2 
                            | - 6.5
                            sup 2
                        p.text-center b
                            sup 2 
                            | = 144 - 42.25
                        p.text-center b = 
                            sup 2
                            | √ 101.75
                        p.text-center b = #[b 10.08]
                p Por lo tanto el cateto adyacente mide #[b 10.08] unidades, se verifica que es menor que la hipotenusa.
    
    br#ley
    
    .header-ecored
        h2 2.4 Ley de senos y cosenos

    .jumbotron.bg-white.shadow
        h3.txt-color1 La ley de #[b senos]
        p Ya conocemos por medio de las razones trigonométricas (seno, coseno, tangente) que existe una relación entre la medida de los lados de un triángulo y el ángulo que forman entre ellos, esto en el caso de los triángulos rectángulos, pero #[b ¿Qué pasa cuando un triángulo no tiene un ángulo recto?] Es en este punto donde se aplica la ley de senos:
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center.mb-0 “En todo triángulo se cumple que la razón del seno de un ángulo con su lado opuesto es igual a la razón de cualquiera de los otros ángulos con su lado opuesto.”
        img(src="assets/images/pages/img21.png", style="max-width: 80%").img-fluid.img-a
        h3.txt-color1.mt-5 La ley de #[b cosenos]
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center.mb-0 “En todo triangulo se cumple que conociendo 2 lados y el ángulo comprendido entre ellos, se puede conocer el tercer lado.”
        p Esto supone 3 posibilidades:
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center a
                    sup 2 
                    | = b
                    sup 2 
                    | + c
                    sup 2 
                    | - 2bc ( cos α )
                p.text-center b
                    sup 2 
                    | = a
                    sup 2 
                    | + b
                    sup 2 
                    | - 2ac ( cos β )
                p.text-center.mb-0 c
                    sup 2 
                    | = a + b - 2ab ( cos θ )
        p Ahora vamos a resolver un triángulo rectángulo, utilizando ambos métodos.
        img(src="assets/images/pages/img22.png", style="max-width: 80%").img-fluid.img-a
        p Encontrar los ángulos #[b α], #[b β], #[b θ].
        p Aplicando la ley de cosenos:
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center 1.25
                    sup 2 
                    | = 2.05
                    sup 2 
                    | + 1.52
                    sup 2 
                    | - 2 ( 2.05 ) ( 1.52 ) #[b cos α]
        p Despejando el #[b ángulo α]
        img(src="assets/images/pages/img23.png", style="max-width: 80%").img-fluid.img-a
        p Ahora vamos a hallar β y θ aplicando la #[b ley de senos]:
        img(src="assets/images/pages/img24.png", style="max-width: 80%").img-fluid.img-a
        p Despejamos β:
        img(src="assets/images/pages/img25.png", style="max-width: 80%").img-fluid.img-a
        p Como sabemos que la suma de los ángulos internos de un triángulo debe ser 180°; entonces:
        .row.justify-content-around.mb-3
            .col-8.bg-color1.text-center
                p.text-center #[b θ] = 180 - α - β
                p.text-center #[b θ] = 180 - 37.40° - 84.93°
                p.text-center.mb-0 #[b θ] = 57.67°