.container#funciones

    .header-ecored
        h1 4. Funciones
    
    .card.shadow
        img(src="assets/images/pages/img58.png", style="max-width: 100%").img-fluid
        .card-body
            p En nuestro diario vivir nos encontramos en muchas ocasiones con la interacción de magnitudes y variables, esta interacción nos lleva a generar una relación entre ellas y con ciertas condiciones estas relaciones se llaman funciones.
            p.mt-3 Las funciones están en todas partes, por ejemplo, describir la trayectoria de una pelota, comportamiento de una divisa, registro del peso en un determinado tiempo, expresar el volumen de una caja en términos de su longitud, en fin, podemos encontrar las funciones en todas partes.
            img(src="assets/images/pages/img59.png", style="max-width: 80%").img-fluid.img-a
            p Por esto y más, queremos que nos acompañe a ver las características más esenciales de este tema: #[b Las funciones]. 
            p.mt-3 Para el SENA es importante el desarrollo de las competencias en el ámbito educativo, laboral y personal.
    
    br#definicion
    
    .header-ecored
        h2 4.1 Definición y ejemplo de función

    .jumbotron.bg-white.shadow
        img(src="assets/images/pages/img60.png", style="max-width: 100%").img-fluid.img-a
    
    br#definicion1
    
    .header-ecored
        h2 4.2 Definición de dominio

    .jumbotron.bg-white.shadow
        img(src="assets/images/pages/img61.png", style="max-width: 60%").img-fluid.img-a
        p El dominio de una función f, denotado por D(f), es el conjunto de todos los valores que toma la variable independiente “x”. El rango o recorrido de una función f, denotado por R(f), es el conjunto de todos los valores que toma la variable dependiente “y”.
        h3.txt-color2.mt-5 Ejemplo
        p Tiene como dominio todos los números reales, ya que a cada número x que pertenece a los números reales R, podemos reemplazar en la expresión 5x-2 y obtener un número real.
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p.text-center.mb-0 la función f(x) = 5x - 2
        .row.align-items-center
            .col-12.col-md-6
                p No en todos los casos el dominio son los números reales. Por ejemplo, para la función #[b f(x) = log⁡(x)], no podemos reemplazar todos los números reales en la expresión, ya que el logaritmo de un número negativo no está definido, sólo para los números mayores a cero, es decir x  o reales positivos, por lo tanto, podemos escribir el dominio como #[b D(f) = ( 0 , ∞ ) = R].
                p Como mencionamos, el rango son todos los posibles valores que toma la variable “y”, en el caso de la función #[b f(x) = 5x - 2], los valores de la variable “y” depende de la expresión 5x-2; en este caso, “y” toma cualquier valor en los reales, por lo tanto, el rango será, #[b R(f) = R].
                p Ahora si analizamos el rango de la función anterior #[b f(x) = log⁡(x)], notamos que podemos obtener como resultado cualquier número real, entonces, #[b R(f) = R].
            .col-12.col-md-6
                img(src="assets/images/pages/img62.png", style="max-width: 60%").img-fluid.img-a1
        .row.justify-content-center
            .col-8.bg-color1
                .row.align-items-center
                    .col-auto
                        img(src="assets/images/pages/img33.png", style="max-width: 60%").img-fluid.img-a1
                    .col
                        h3.txt-color2 Nota
                        p.mb-0 Así como el dominio no siempre son todos los números reales, en el rango sucede lo mismo. Esto se verá más adelante cuando analicemos diferentes tipos de funciones.
        img(src="assets/images/pages/img63.png", style="max-width: 100%").img-fluid.img-a
        p Pero te estás preguntando, y ahora esto cómo afecta en un contexto real, ¿cómo se aplica una función en un contexto real?
        p Veamos una aplicación.
    
    br#ejemplo
    
    .header-ecored
        h2 4.3 Ejemplo de aplicación de la función

    .jumbotron.bg-white.shadow
        img(src="assets/images/pages/img64.png", style="max-width: 60%").img-fluid.img-a
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p.text-center.mb-0 Amos Dolbear fue un físico estadounidense, que en 1897 publicó una ecuación, donde se podía calcular la temperatura a partir de los chirridos de un grillo. La ecuación varía dependiendo de la especie del grillo.
        p La ecuación para calcular la temperatura en grados Celsius a partir de los chirridos de un grillo campestre es:
        img(src="assets/images/pages/img65.png", style="max-width: 60%").img-fluid.img-a
        p donde c es la cantidad de chirridos por minuto.
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p Vamos a realizar las siguientes acciones para poder determinar la temperatura a partir de la cantidad de chirridos que hace un grillo en un minuto
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                        p.mt-1 Calcular la temperatura si se registran 145 chirridos en un minuto.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                        p.mt-1 ¿Cuál será la temperatura para un registro de 54 chirrido?
                        p ¿En qué tipo de clima estaría el grillo?
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span C
                    .list__txt
                        p.mt-1 ¿Es posible que se registrara 600 chirridos por minuto de un grillo, en cualquier lugar del planeta?
        p Miremos la solución a la aplicación:
        img(src="assets/images/pages/img66.png", style="max-width: 100%").img-fluid.img-a
        p Es de esta manera como podemos ver la aplicación de las funciones en un contexto real, hay muchas formas de poder llevar las matemáticas a nuestra vida diaria.