.container#funcion

    .header-ecored
        h1 5. Función lineal
    
    .jumbotron.bg-white.shadow
        p En el mundo de las funciones, existen las lineales, las cuales están presentes en muchas actividades que nosotros realizamos a diario.
        p Por ejemplo, para determinar la altura de un recipiente con determinado volumen, la distancia que recorre un carro con una velocidad constante, el cálculo de costos y precio de productos, en realidad podemos seguir planteando ejemplos y nunca acabar, por eso en esta sección queremos abordar este tipo de función, como una relación de dependencia entre dos variables.
        img(src="assets/images/pages/img67.png", style="max-width: 60%").img-fluid.img-a
        p Por esto y más, queremos que nos acompañe a ver las características más esenciales de este tema: #[b Las funciones lineales].
        p Para el SENA es importante el desarrollo de las competencias en el ámbito educativo,  laboral y personal.
    
    br#las
    
    .header-ecored
        h2 5.1 Las funciones lineales

    .jumbotron.bg-white.shadow
        p Iniciemos con la definición de La función lineal, esta hace parte del grupo de funciones polinómicas, cuya expresión algebraica se puede expresar como:
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p.text-center.mb-0 #[b f(x) = ax + b, con a, b ∈ R]
        p Seguramente no has comprendido muy a detalle la expresión, pero si vemos un ejemplo ya nos vamos acercando a matemática.
        h3.txt-color2.mt-5 Ejemplo
        img(src="assets/images/pages/img68.png", style="max-width: 80%").img-fluid.img-a
        p Recordemos que las funciones lineales deben tener una característica especial, la cual es que la variable independiente (X) siempre debe tener exponente 1.
        img(src="assets/images/pages/img69.png", style="max-width: 80%").img-fluid.img-a
        p Ya que logramos identificar como es la función lineal #[b f(x) = ax + b], vamos a ver cómo se relaciona con la ecuación de la recta #[b ( y = mx + b )]. Veamos la siguiente animación.
        img(src="assets/images/pages/img70.png", style="max-width: 80%").img-fluid.img-a
        p Ahora analicemos la pendiente o constante de proporcionalidad (a), la cual debemos tener en cuenta estos tres casos:
        img(src="assets/images/pages/img71.png", style="max-width: 80%").img-fluid.img-a
        p Variación del punto de corte con el eje Y.
        .row.justify-content-center
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='media/documentos/Video2.mp4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#caracteristicas1
    
    .header-ecored
        h2 5.2 Características de la función lineal

    .jumbotron.bg-white.shadow
        p Ya estamos dominando el terreno de las funciones lineales, ahora tengamos en cuenta sus principales características.
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 El dominio y el rango de la función lineal es el conjunto de los números reales R.
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Es una función continua.
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Una de las aplicaciones de la función lineal, es el análisis del punto de equilibrio.
        img(src="assets/images/pages/img72.png", style="max-width: 60%").img-fluid.img-a
        p Pero te estás preguntando, ¿y ahora esto cómo afecta en un contexto real?, ¿Cómo se aplica una función lineal en una situación profesional?
        p Veamos una aplicación.
        h3.txt-color2.mt-5 Ejemplo
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p GamerX Ltda, produce controles de alta calidad para videojuegos. La empresa publicó un anuncio en una página de videojuegos. #[b El costo del anuncio es de $400.000. La producción de cada control es de $100.000 y la empresa cobra $140.000 por control]. Grafique las funciones de costo e ingreso sobre el mismo plano cartesiano e interprete la gráfica.
                p.mb-0 Miremos la solución a la aplicación:
        h3.txt-color2 Solución
        p Se construye la función teniendo en cuenta el costo fijo, que en este caso es el costo de la publicidad $400.000 y el costo variable de producción del control que es de $100.000, entonces la función C de costos se puede expresar como una función de x, el número de controles producidos.
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p.text-center.mb-0 C(x) = 100.000x + 400.000
        p Cada control se vende en $140.000, entonces, el ingreso R se puede expresar como una función de x, el número de controles vendidos.
        .row.justify-content-around.mb-3
            .col-8.bg-color1
                p.text-center.mb-0 R(x) = 140.000x
        p Al graficar cada función obtenemos:
        img(src="assets/images/pages/img73.png", style="max-width: 80%").img-fluid.img-a
        .row.justify-content-center
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='media/documentos/Video3.mp4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-4 Para este caso los valores negativos del dominio no se tienen en cuenta en las dos funciones, ya que no tiene sentido hablar de unidad fabricadas y vendida para estos valores. Por lo tanto, la menor cantidad de unidades producidas y vendidas será cero.
        p Una vez construida las funciones, se resalta la pendiente o constante de proporcionalidad y el punto de corte con el eje “y”.
        .row.justify-content-around.mb-3
                .col-8
                    .card-media(style="background: #EAEAEA;")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/img2.png").img-fluid
                            p.card__copy 
                                span los 100.000 son la constante de proporcionalidad. 
                            p.card__copy.mt-3.mb-0
                                span los 400.000 son el punto de corte con el eje Y.
        p También el significado del punto de corte de las dos funciones con el eje “y” será el valor inicial, es decir en el caso de que x toma el valor de cero. Se explica que el costo fijo se paga produzca o no, controles la empresa.
        .row.justify-content-around.mb-3
                .col-8
                    .card-media(style="background: #EAEAEA;")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/img2.png").img-fluid
                            p.card__copy 
                                span #[b El punto de corte sería 400.000]
        p La parte de las funciones debajo de ese punto son perdidas y la parte de arriba corresponde a la utilidad.