.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Dominio:
            | superficie acotada, que se distingue de lo que la rodea.
        p 
            strong.mr-2 Dominio:
            | el dominio de una función f, denotado por D(f), es el conjunto de todos los valores que toma la variable independiente.
        p 
            strong.mr-2 Equivalentes:
            | es un adjetivo que expresa algo que tiene igual valor, estimación, potencia o significado.
        p 
            strong.mr-2 Grados Celsius:
            | grado Celsius o centígrado (símbolo ºC), es la unidad para medir la temperatura.
        p 
            strong.mr-2 Pérdida:
            | la palabra perdida se utiliza para referirse a situaciones con resultados negativos.  Los resultados negativos surgirán cuando los gastos sean superiores a los ingresos.
        p 
            strong.mr-2 Polinomio:
            | en matemáticas, un polinomio es una expresión algebraica constituida por una suma finita de productos entre variables (valores no determinados o desconocidos) y constantes (números fijos llamados coeficientes), o bien una sola variable. Las variables pueden tener exponentes de valores definidos naturales incluido el cero y cuyo valor máximo se conocerá como grado del polinomio.
        p 
            strong.mr-2 Punto de equilibrio:
            | determina cuál es el nivel de ventas preciso para poder cubrir el total de los costes de la empresa, puesto que predice el punto de ventas anuales que se debe conseguir para no tener pérdidas y comenzar a disfrutar de beneficios.
        p 
            strong.mr-2 Rango:
            | es el conjunto de todos los valores de la variable dependiente y.
        p 
            strong.mr-2 Rango:
            | el rango o recorrido de una función f, denotado por R(f), es el conjunto de todos los valores que toma la variable dependiente.
        p 
            strong.mr-2 Rectas paralelas:
            | son rectas que están siempre a la misma distancia la una de la otra; no importa qué tanto se extiendan, nunca se tocarán.
        p 
            strong.mr-2 Utilidad:
            | la palabra utilidad se utiliza para referirse a situaciones con resultados positivos.
            br
            p Los resultados positivos surgirán cuando los gastos sean inferiores a los ingresos.
        p 
            strong.mr-2 Variable:
            | una variable es un símbolo cualquiera que puede representar cualquier valor.
        p 
            strong.mr-2 Variable dependiente:
            | es aquella que toma valores de acuerdo con la función, expresión, ecuación o modelo matemático y el cambio de valores de la variable independiente.
        p 
            strong.mr-2 Variable independiente:
            | es aquella que toma valores independientemente, representa una cantidad y pueden tomar diferentes valores numéricos.