.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Khan Academy 2020, Repaso de líneas rectas paralelas y perpendiculares.
                    td Web
                    td 
                        a(href="https://es.khanacademy.org/math/basic-geo/basic-geo-lines/parallel-perp/a/parallel-perpendicular-review", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Khan Academy 2020, Funciones lineales.
                    td Web
                    td 
                        a(href="https://es.khanacademy.org/math/cc-eighth-grade-math/cc-8th-linear-equations-functions/linear-nonlinear-functions-tut/v/recognizing-linear-functions", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver